<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Muffin_Testimonial::Menu" title="Testimonial Module" sortOrder="5">
                <resource id="Muffin_Testimonial::listing" title="Testimonial Module"/>
                <resource id="Muffin_Testimonial::manage" title="Testimonial Module"/>
            </resource>
        </resources>
    </acl>
</config>
