<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Muffin_Slider::bannerslider" title="Banner Slider" sortOrder="5">
                    <resource id="Muffin_Slider::banner" title="Manage Banner" sortOrder="10"/>
                    <resource id="Muffin_Slider::slider" title="Manage Slider" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
