<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Muffin_FAQ::FAQ" title="FAQ" sortOrder="5">
                <resource id="Muffin_FAQ::category" title="Manage Category" sortOrder="10"/>
                <resource id="Muffin_FAQ::question" title="Manage Question" sortOrder="15"/>
                <resource id="Muffin_FAQ::module" title="Manage Module" sortOrder="20"/>
            </resource>
        </resources>
    </acl>
</config>
